html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    /*font: inherit;*/
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*body { min-width: 320px; background: #fff; color: #000; font: 16px/1.5 'arial', 'Hiragino Sans GB', 'Microsoft Yahei', 'helvetica'; -webkit-text-size-adjust: none; -webkit-text-size-adjust: none; }*/

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a { color: #000; text-decoration: none; }

img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; -webkit-tap-highlight-color: rgba(0,0,0,0); }

button,input,select,textarea { outline: 0; vertical-align: middle; font-size: 100%; font-family: 'Microsoft Yahei', 'helvetica', 'arial'; }

textarea { resize: none; }

button,input[type="button"],input[type="reset"],input[type="submit"] { cursor: pointer; -webkit-appearance: button; -moz-appearance: button; }

input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder {
 color: transparent;
}
 
button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}